<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    {{siteComponent["title"]}}
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">{{siteComponent["menuList"][0]}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">{{siteComponent["menuList"][1]}}</a>
      </li>
    </ul>
  </div>
</nav>
