<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">{{siteComponent["title"]}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"
      *ngFor="let menuVoice of siteComponent['menuList']">
        <li class="nav-item">
          <a class="nav-link" href="#">
            {{menuVoice}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{siteComponent['links'][0]['gitHub']}}">
            <fa-icon [icon]="faGithub" ></fa-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="{{siteComponent['links'][1]['instagram']}}">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </li>
        <li class="nav-item">
         <a href="{{siteComponent['links'][2]['linkedin']}}">
           <fa-icon [icon]="faLinkedin"></fa-icon>
         </a>
        </li>
         <li class="nav-item">
          <a href="{{siteComponent['links'][3]['mail']}}">
            <fa-icon [icon]="faGmail"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
